<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cf.nearby.nearby">


    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name=".bluetooth.BLEConnectionServices.BluetoothLeService"
            android:enabled="true" />

        <!--<receiver android:name=".OTAFirmwareUpdate.OTAResponseReceiver">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.cysmart.bluetooth.le.ACTION_OTA_DATA_AVAILABLE" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <receiver android:name=".bluetooth.BLEStatusReceiver">
            <intent-filter>
                <action android:name="com.example.bluetooth.le.ACTION_GATT_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".StartActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".nurse.NurseMainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cf.nearby.nearby" />
            </intent-filter>
        </activity>
        <activity
            android:name=".nurse.NurseRegisterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cf.nearby.nearby" />
            </intent-filter>
        </activity>
        <activity
            android:name=".nurse.RegisterPatientActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cf.nearby.nearby" />
            </intent-filter>
        </activity>
        <activity
            android:name=".nurse.NurseManageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cf.nearby.nearby" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ManageSymptomActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cf.nearby.nearby" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ManageMedicineActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cf.nearby.nearby" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SearchPatientActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cf.nearby.nearby" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AddPatientMedicineActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cf.nearby.nearby" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SearchMedicineActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cf.nearby.nearby" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ShowPatientMedicineDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cf.nearby.nearby" />
            </intent-filter>
        </activity>
        <activity
            android:name=".nurse.NurseManageDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cf.nearby.nearby" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ManageWeightActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cf.nearby.nearby" />
            </intent-filter>
        </activity>
        <activity
            android:name=".nurse.NurseRecordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cf.nearby.nearby" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RecordMealActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cf.nearby.nearby" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RecordMedicineActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cf.nearby.nearby" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RecordRemarkActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cf.nearby.nearby" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AddRemarkFromListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cf.nearby.nearby" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SearchPatientByLocationIdActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cf.nearby.nearby" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CameraActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cf.nearby.nearby" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RecordVitalSignActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cf.nearby.nearby" />
            </intent-filter>
        </activity>
        <activity
            android:name=".admin.AdminMainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cf.nearby.nearby" />
            </intent-filter>
        </activity>
        <activity
            android:name=".admin.AdminManageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cf.nearby.nearby" />
            </intent-filter>
        </activity>
        <activity
            android:name=".admin.AdminInquiryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cf.nearby.nearby" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ManagePatientRegisterInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cf.nearby.nearby" />
            </intent-filter>
        </activity>
        <activity
            android:name=".bluetooth.ConnectBLEActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"></meta-data>

            <!--</intent-filter>-->
            <!-- For email attachments -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:mimeType="application/octet-stream"
                    android:pathPattern=".*\\.nbycf"
                    android:scheme="content" />
            </intent-filter>

            <!--  For file browsers -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.nbycf"
                    android:scheme="file" />
            </intent-filter>

            <!--  For web browsers -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="http" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.nbycf" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cf.nearby.nearby" />
            </intent-filter>
        </activity>
    </application>

</manifest>